<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle de batería</title>
    <link rel="stylesheet" href="../../src/styles/styles-settings-battery.css" />
  </head>
  <body>
    <img id="stbt" src="../../img/battery_profile.svg" alt="" />
    <section id="cont">
      <p id="batteryLevel">Nivel de la batería: <span id="level">--</span>%</p>
      <br />
      <p id="chargingStatus">Estado: <span id="charging">--</span></p>
      <br />
      <p id="batteryTemperature">
        Temperatura: <span id="temperature">--</span>°C
      </p>
    </section>

    <script src="../scripts/script-settings-battery.js"></script>
  </body>
</html>
